$blue: #0062bd;
@media screen and (max-width: 768px) {
    .mat-tree-node {
      padding: 0 !important;

    }
}

// .active{
//   color: $blue !important;
//   background-color: transparent !important;
// }

.active {
  color: white !important;
  background-color: $blue !important;
  font-weight: bold;
  border-radius: 4px;
  padding: 2px 6px;
}