<h1 mat-dialog-title class="m-3 standard-font-family text-dark">
    <i class="fa fa-question-circle px-2"></i>Help & Instructions
</h1>
<hr>
<div mat-dialog-content class="mx-2 mt-2 standard-font-family">
   
    
        <div class="mb-3">
            <h6>Step 1: Import and Upload Project</h6>
            <p>Click the </p>
        </div>
        <div class="mb-3">
            <h6>Step 2: Using the Features</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
        </div>
        <div class="mb-3">
            <h6>Step 3: Saving Your Work</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
        </div>
        <div class="mb-3">
            <h6>Step 4: Getting Support</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
        </div>
</div>
<div mat-dialog-actions class="justify-content-between mx-4">
    <button mat-button (click)="onNoClick()" class="standard-font-family">Close</button>
</div>
