<h1 mat-dialog-title class="m-3 standard-font-family text-dark">
    <i class="fa fa-question-circle px-2"></i>Help & Instructions
</h1>
<hr>
<div mat-dialog-content class="mx-2 mt-2 standard-font-family">
   
    
        <div class="mb-3">
            <h6>Step 1: Import Project</h6>
            <p>Click the <i class=" fa fa-file-import pl-1 pr-2" ></i>Import button and select a zipped version of project that you want to analyze. </p>
        </div>
        <div class="mb-3">
            <h6>Step 2: Upload Project</h6>
            <p>Click the <i class="fa fa-cloud-upload-alt text-secondary"></i> to upload your project to the backend.</p>
        </div>
        <div class="mb-3">
            <h6>Step 3: Analyze Project</h6>
            <ol>
                <li>If this is the first time you are analyzing this project or if you want to check to see if your changes fixed previous vulnerabilities then click the <i class="fa fa-play text-secondary"></i>.</li>
                <li>If you have already run the analysis then click the <i class="fa fa-history text-secondary"></i> to load the previous results which doesn't cost anything. </li>


            </ol>
            <p>  
        </div>
        <div class="mb-3">
            <h6>Step 4: Getting Support</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.</p>
        </div>
</div>
<div mat-dialog-actions class="justify-content-between mx-4">
    <button mat-button (click)="onNoClick()" class="standard-font-family">Close</button>
</div>
