<h1 mat-dialog-title class="m-3 standard-font-family text-dark">
    <i class="fa fa-question-circle px-2"></i>Help & Instructions
</h1>
<hr>
<div mat-dialog-content class="mx-2 mt-2 standard-font-family">
   
    
    <div class="mb-3">
        <h5><b>Step 1: Import Project</b></h5>
        <p>
            Click the <i class="fa fa-file-import pl-1 pr-2"></i> Import button and select a zipped version of the project that you want to analyze.
        </p>
    </div>
    <div class="mb-3">
        <h5><b>Step 2: Upload Project</b></h5>
        <p>
            Click the <i class="fa fa-cloud-upload-alt text-secondary"></i> Upload button to send your project to the backend for analysis.
        </p>
    </div>
    <div class="mb-3">
        <h5><b>Step 3: Analyze Project</b></h5>
        <ol style="list-style-type: upper-alpha;">
            <li>
                If this is the first time you are analyzing this project, or if you want to check if your changes have fixed previous vulnerabilities, click the <i class="fa fa-play text-secondary"></i> Analyze button.
            </li>
            <li>
                If you have already run the analysis, click the <i class="fa fa-history text-secondary"></i> History button to load previous results without additional cost.
                <br>
                Unsure if the project has been analyzed? Check for the presence of a <code>results.sarif</code> file.
            </li>
        </ol>
    </div>
    <div class="mb-3">
        <h5><b>Step 4: View Results</b></h5>
        <p>
            If there are any vulnerabilities in the project, they will be displayed in the Rules tab on the right. Click on each rule to see exactly where the issue is located in the code.
        </p>
    </div>
    

</div>
<div mat-dialog-actions class="justify-content-between mx-4">
    <button class="btn btn-print " mat-button (click)="onNoClick()" class="standard-font-family">Close</button>
</div>
