<h1 mat-dialog-title class="m-3 standard-font-family text-dark">
    <i class="fa fa-save px-2"></i>Configure ChatGPT
</h1>
<hr>
<div mat-dialog-content class="mx-2 mt-2 standard-font-family">
    <div *ngIf="isLoading" class="d-flex align-items-center">
        <span>Loading API token...</span>
        <i class="fas fa-spinner fa-pulse ml-2"></i>
    </div>
    <div *ngIf="!isLoading">
        <div class="mb-3">
            <label for="token" class="form-label">ChatGPT API Token:</label>
            <input type="text" class="form-control standard-font-family" id="token" [(ngModel)]="chatGptService.ChatGPTToken" placeholder="{{placeholderToken}}" (focus)="clearTokenOnFocus()">
        </div>
        <div class="mb-3">
            <label for="model" class="form-label">GPT Model:</label>
            <select class="form-control standard-font-family" id="model" [(ngModel)]="chatGptService.GPTModel">
                <option value="gpt3">GPT-3</option>
                <option value="gpt4">GPT-4</option>
                <!-- Add more options as needed -->
            </select>
        </div>
    </div>
</div>
<div mat-dialog-actions class="justify-content-between mx-4">
    <button mat-button (click)="onNoClick()" class="standard-font-family">Cancel</button>
    <button mat-button (click)="onSaveClick()" class="standard-font-family" cdkFocusInitial>Save</button>
</div>
