<div class="row page-header-info" >
    <div class="col-md-1 btn-left text-left">
        <button id="left-sidebar-collapse" class="btn left-sidebar-collapse ">
            <i class="fa fa-align-right text-secondary "></i>
        </button>
    </div>
    <div class="col-md-10 border-right border-left d-flex justify-content-between py-0">
        <h4 class="text-secondary d-inline"><i class="fa fa-file-archive  pr-3"></i>
            {{utilService.ProjectName}}
        </h4>
        <div class="tollbar text-secondary" style="height: 45px;line-height: 45px;">
            <button class="btn print-button " 
                title="Upload {{utilService.ProjectName}} project"
                (click)="uploadProject()"
                *ngIf="utilService.readyForUpload() && !isLoading">
                <i class="fa fa-cloud-upload-alt text-secondary"></i>
            </button>

            <button class="btn print-button" 
                title="Analyze {{utilService.ProjectName}} project" 
                *ngIf="utilService.readyForAnalysis() && !isLoading"
                (click)="runCodeQl();">
                <i class="fa fa-play text-secondary"></i>
            </button>

            <button	class="btn print-button"
            title="Use previous analysis results"
            (click)="usePrevious();"
            *ngIf="utilService.readyForAnalysis() && !isLoading">
                <i class="fa fa-history text-secondary"></i>
            </button>

            <div class="pt-1 " >
                <div class="fa-2x d-inline" *ngIf="isLoading">
                    <i class="fas fa-spinner fa-pulse text-success"></i>
                  </div>
            </div>  
        </div>
        <button id="terminal-collapse"  class="btn print-button"  title="Backend Terminal" >
            <i class="fas fa-terminal"></i>
        </button>

    </div>
    <div class="col-md-1">
        <button id="right-sidebar-collapse" class="btn right-sidebar-collapse">
            <i class="fa fa-align-left text-secondary"></i>
        </button>
    </div>
</div>